# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Resend
RESEND_API_KEY="re_NDfnUUwV_JX5c21fLRnvxh9Eat6xvhrir"
RESEND_FROM_EMAIL="noreply@habakkukpharmacy.com"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Habakkuk Pharmacy"
